/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Manual CSS input starts here: */

body{
	font-family: 'Roboto', sans-serif;
	font-weight: bolder;
	background-color: #FFF;
}

*{
	border: solid;
	text-transform: uppercase;
}

h1 {
	font-size: 2.6rem;
}
  
h2 {
	font-size: 1.6rem;
}
  
h3 {
	font-size: 1.1rem;
}

#maincontent{
	display: grid;
	justify-content: space-around;
	align-content: space-around;
	align-items: space-around;
	height: 100vh;
}

#sectionone{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#sectiontwo{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	
}

#choicetitle{
	display: flex;
	justify-content: space-around;
	font-size: xx-large;

}

#choice{
	display: flex;
	justify-content: space-around;
	height: 40px;
}

#playerchoice{
	display: flex;
	justify-content: center;
}

#computerchoice{
	display: flex;
	justify-content: center;
}

#gameresults{
	display: flex;
	justify-content: center;
}

#sectionthree{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#totalscoreboard, #reset{
	display: flex;
	justify-content: center;
}


/* final styles and colors here: */

#sectionone{
	border-radius: 8px;
	padding: 40px;
	background-color: #2EE59D;
}

#sectiontwo div{
	margin: 5px;
}

.button {
	width: 140px;
	height: 45px;
	font-family: 'Roboto', sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: 500;
	color: #000;
	background-color: #2EE59D;
	border: none;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
	margin: 20px;
}
  
.button:hover {
	background-color: #2EE59D;
	box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
	color: #fff;
	transform: translateY(-7px);
}

.wrap {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#choice{
	padding-bottom: 20px;
}

